@{
    var hop_dong = ViewBag.v_hd as List<BKI_CRM2.Models.Contract>;    
}
@model BKI_CRM2.Models.Contract
<style>
    .mau {
        width: 100px;
    }

    .marginleft {
        margin-left: 300px;
    }

    .width220px {
        width: 220px;
    }

    .height_input {
        height: 34px !important;
    }
</style>
<div class="title">
    <h2>DANH MỤC HỢP ĐỒNG</h2>
</div>
<div style="margin: 20px 0px 30px 30px;">
    <button type="button" class="btn btn-primary marginleft" aria-hidden="true" onclick="sua(null);">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Thêm hợp đồng
    </button>

     <select id="thuc_hien" style="margin-left:200px;">
        <option></option>
        <option value="xuat_excel">Xuất Excel</option>
        <option value="in">In</option>
    </select>
</div>
<div>
     
    <table class=" mytable">
                    <thead>
                        <tr>
                           
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Số hợp đồng</th>
                            <th>Nội dung</th>
                            <th>Tổ chức</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in hop_dong)
	                    {
		                 <tr>
                            <td>@item.NgayBatDau</td>
                            <td>@item.NgayKetThuc</td>
                            <td>@item.SoHopDong</td>
                            <td>@item.NoiDung</td>
                            <td>@item.IdAccount</td>
                        </tr>
	                    }
                      
                        
                   </tbody>
                </table>
      
</div>
<script>
    $(document).ready(function () {
        $("#thuc_hien").select2({
            placeholder: "Thực hiện",
            allowClear: true
        });
        $('.mytable').dataTable();
    });
</script>