@{
    var hop_dong = ViewBag.v_hd as List<BKI_CRM2.Models.Contract>;    
}
@model BKI_CRM2.Models.Contract
<style>
    .mau {
        width: 100px;
    }

    .marginleft {
        margin-left: 300px;
    }

    .width220px {
        width: 220px;
    }

    .height_input {
        height: 34px !important;
    }
    .width100px {
    width:100px;
    }
</style>
<div class="title">
    <h2>DANH MỤC HỢP ĐỒNG</h2>
</div>
<div style="margin: 20px 0px 30px 30px;">
    <button type="button" class="btn btn-primary marginleft" aria-hidden="true" onclick="sua(null);">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Thêm hợp đồng
    </button>

     <select id="thuc_hien" style="margin-left:200px;">
        <option></option>
        <option value="xuat_excel">Xuất Excel</option>
        <option value="in">In</option>
    </select>
</div>
<div>
     
    <table class=" mytable">
                    <thead>
                        <tr>
                           
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Số hợp đồng</th>
                            <th>Nội dung</th>
                            <th>Tổ chức</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in hop_dong)
	                    {
		                 <tr id="@item.Id">
                            <td>@item.NgayBatDau</td>
                            <td>@item.NgayKetThuc</td>
                            <td>@item.SoHopDong</td>
                            <td>@item.NoiDung</td>
                            <td>@item.IdAccount</td>
                            <td><button type="button" class="btn btn-defaul"  onclick="sua('@item.Id')"><span class="glyphicon glyphicon-pencil edit" aria-hidden="true"></span></button></td>
                            <td><button type="button" class="btn btn-default" onclick="hienxoa('@item.Id')"><span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span></button></td>
                        </tr>
	                    }
                      
                        
                   </tbody>
                </table>
    
 <div class="modal fade" id="thay_doi">
    <div class="modal-dialog " >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title title">Nội dung chi tiết hợp đồng</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                   <label class="width100px">Ngày bắt đầu</label>
                    <input type="date" id="ngaybatdau" class="width220px;"/>
                    <hr />
                    <label class="width100px">Ngày kết thúc</label>
                    <input type="date" id="ngayketthuc" class="width220px;"/>
                    <hr />
                    <label>Số hợp đồng</label>
                    <hr />
                    <input type="text" id="sohopdong" />
                    <label>Nội dung</label>
                    <input type="text" id="noidung" />
                    <hr />
                    <label>Tổ chức</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="clear">Xóa trắng</button>
                <button type="button" class="btn btn-primary" onclick="thuchiensua($('#thay_doi').attr('name'));">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->   
  
    <div class="modal fade" id="xoa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">THÔNG BÁO</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa dòng dữ liệu này không?</p>
                <div id="giatri" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="xoa($('#giatri').html())">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        
</div>
<script>
    $(document).ready(function () {
        $("#thuc_hien").select2({
            placeholder: "Thực hiện",
            allowClear: true
        });
        $('.mytable').dataTable();
    });

    function xoa(id_kh) {
        $.ajax({
            url: "/Contract/Delete",
            type: "POST",
            data: { id_kh: id_kh },
            dataType: "json",
            error: function () {
                alert("Xóa thất bại!");
                $('#xoa').modal('hide');
            },
            success: function (data) {
                alert('Xóa thành công!');
                $('#' + id_kh).remove();
                $('#xoa').modal('hide');
            }
        });
    }

    function hienxoa(id_hd) {
        giatri.innerHTML = id_hd;
        $('#xoa').modal('show');
    }

    function sua(id_hd) {
        $('#thay_doi').attr('name', id_hd);
        $.ajax({
            url: "/Contract/Select",
            type: "GET",
            data: { IdContract: id_hd },
            error: function () {
                alert('Lấy thông tin thất bại!');
            },
            success: function (get) {
                if (get != undefined && get != true) {
                    ngaybatdau.value = get.NgayBatDau.trim();
                    ngayketthuc.value = get.NgayKetThuc.trim();
                    sohopdong.value = get.SoHopDong.trim();
                    noidung.value = get.NoiDung.trim();

                    $('#thay_doi').modal('show');
                    }
                  }
                });
            }
</script>