@{
    ViewBag.Title = "Index";
    var dm_nguoi_dung = ViewBag.v_user as List<List<BKI_CRM2.Models.User>>;
    var state = ViewBag.state as List<BKI_CRM2.Models.UserGroup>;
    var idus = ViewBag.idus;

}
<style>
    .mau {
        width: 100px;
    }

    .marginleft {
        margin-left: 300px;
    }

    .width220px {
        width: 220px;
    }

    .height_input {
        height: 34px !important;
    }

    .width100px {
        width: 100px;
    }
</style>
<div class="title">
    <h2>DANH MỤC NGƯỜI DÙNG</h2>
</div>

<div style="margin: 20px 0px 30px 30px;">
    <button type="button" class="btn btn-primary " aria-hidden="true" style="margin-left:300px;" onclick="sua(null)" id="them">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Thêm người dùng
    </button>

    <select id="thuc_hien" style="margin-left:200px;">
        <option></option>
        <option value="xuat_excel">Xuất Excel</option>
        <option value="in">In</option>
    </select>
</div>
<div style="margin-bottom:50px;">
    <ul class="nav nav-tabs">
        @if (state != null && state.Count > 0)
        {
            <li class="active"><a data-toggle="tab" href="#@state[0].Id">@state[0].GroupName</a></li>
            foreach (var item in state.Skip(1))
            {
                <li><a data-toggle="tab" href="#@item.Id">@item.GroupName</a></li>
            }
        }
    </ul>
    <div class="tab-content">


        @if (dm_nguoi_dung != null && dm_nguoi_dung.Count > 0)
        {
            <div class="tab-pane fade in active" id="@state[0].Id">
                <table class="mytable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Họ và đệm</th>
                            <th>Tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody class="ctn">
                        @if (dm_nguoi_dung[0].Count > 0)
                        {
                            foreach (var item in dm_nguoi_dung[0])
                            {
                                <tr id="@item.Id">
                                    <td class="c"><input type="checkbox" /></td>
                                    <td class="ho">@item.HoNhanVien</td>
                                    <td class="ten">@item.TenNhanVien</td>
                                    <td class="sdt">@item.Sdt01</td>
                                    <td class="email">@item.Email</td>
                                    <td class="username">@item.UserName</td>
                                    <td class="password">@item.Password</td>
                                    <td><button type="button" class="btn btn-default btn_sua" onclick="sua('@item.Id')"><span class="glyphicon glyphicon-pencil edit" aria-hidden="true"></span></button></td>
                                    <td><button type="button" class="btn btn-default" onclick="hienxoa('@item.Id')"><span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span></button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            for (int i = 1; i < dm_nguoi_dung.Count; i++)
            {
                <div class="tab-pane fade" id="@state[i].Id">
                    <table class="mytable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Họ và đệm</th>
                                <th>Tên</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody class="ctn">
                            @if (dm_nguoi_dung[i].Count > 0)
                            {
                                foreach (var item in dm_nguoi_dung[i])
                                {
                                    <tr id="@item.Id">
                                        <td class="c"><input type="checkbox" /></td>
                                        <td class="ho">@item.HoNhanVien</td>
                                        <td class="ten">@item.TenNhanVien</td>
                                        <td class="sdt">@item.Sdt01</td>
                                        <td class="email">@item.Email</td>
                                        <td class="username">@item.UserName</td>
                                        <td class="password">@item.Password</td>
                                        <td><button type="button" class="btn btn-default btn_sua" onclick="sua('@item.Id')"><span class="glyphicon glyphicon-pencil edit" aria-hidden="true"></span></button></td>
                                        <td><button type="button" class="btn btn-default" onclick="hienxoa('@item.Id')"><span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</div>
<!-- Modal sửa -->
<div class="modal fade" id="thay_doi">
    <div class="modal-dialog modal-lg" id="thongtinnguoidung">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title title">THÔNG TIN NGƯỜI DÙNG</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table table-condensed table-font-size " style="margin-top:20px;width:75%; " id="table_thong_tin_nguoi_dung">
                        <tr>
                            <td rowspan="4">
                                <label class=" padding" style="line-height: 36px;">Ảnh cá nhân</label>
                            </td>
                            <td rowspan="4">
                                <img src="" alt="Ảnh" style="max-width:200px; height:160px;" id="anh">
                                <input type="file" onchange="upanh($('#thay_doi').attr('name'));" value="Upload" id="image" />
                            </td>
                            <td>
                                <label class="width100px " style="line-height: 36px;">Username</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Nhập Username" class="form-control width220px height_input " style="height:34px !important;" id="username" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="width100px left padding" style="line-height: 36px;">Nhập Password</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Nhập password" class="form-control width220px height_input " style="height:34px !important;" id="password" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="width100px left padding" style="line-height: 36px;">Điện thoại</label>
                            </td>
                            <td>
                                <input type="tel" placeholder="Nhập số điện thoại" class="form-control width220px height_input " style="height:34px !important;" id="sdt" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="padding" style="line-height: 36px;">ĐT nhà riêng</label>
                            </td>
                            <td>
                                <input type="tel" placeholder="Nhập số ĐT nhà riêng" class="form-control width220px height_input " style="height:34px !important;" id="sdt2" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="width100px left padding" style="line-height: 36px;">Họ và đệm</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Nhập Họ và đệm" class="form-control width220px height_input " style="height:34px !important;" id="hodem" />
                            </td>
                            <td>
                                <label class="padding" style="line-height: 36px;">Email</label>
                            </td>
                            <td>
                                <input type="email" placeholder="Nhập địa chỉ Email" class="form-control width220px height_input " style="height:34px !important;" id="email" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="width100px left padding" style="line-height: 36px;">Tên</label>
                            </td>
                            <td>
                                <input type="text" placeholder="Nhập Tên người dùng" class="form-control width220px height_input " style="height:34px !important;" id="ten" />
                            </td>
                            <td>
                                <label class="width100px left padding" style="line-height: 36px;">Họ tên Cấp trên</label>
                            </td>
                            <td>
                                <select id="nhanviencaptren">
                                    <option></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="width100px left padding" style="line-height: 36px;">Vai trò</label>
                            </td>
                            <td>
                                <select id="vaitro">
                                    <option></option>
                                    @foreach (var item in state)
                                    {
                                        <option value="@item.Id">@item.GroupName</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr id="ChamSoc">
                            <td>
                                <label class="width100px left padding" style="line-height: 36px;">Chăm sóc</label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary width220px" id="btn_danh_sach_khach_hang"><span class="glyphicon glyphicon-pencil edit" aria-hidden="true"></span>Danh sách chi tiết khách hàng</button>
                            </td>


                        </tr>

                    </table>
                    <div id="IdUser_modal_thay_doi" style="display:none;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="clear">Xóa trắng</button>
                <button type="button" class="btn btn-primary" onclick="thuchiensua($('#thay_doi').attr('name'));">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="danh_sach_contact">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn_dong"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title title">Danh sách khách hàng</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table table-condensed table-font-size " style="margin-top:20px;width:50% " id="table_danh_sach_khach_hang">
                        <tr>
                            <td>
                                <label class=" padding" style="line-height: 36px;">Họ tên khách hàng</label>
                            </td>
                            <td>
                                <label class=" padding" style="line-height: 36px;">Thông tin</label>
                            </td>
                        </tr>

                    </table>
                    <div id="IdUser_modal_danh_sach_contact" style="display:none;"></div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Modal xóa-->
<div class="modal fade" id="xoa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">XÁC NHẬN</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa dòng dữ liệu này không?</p>
                <div id="giatri" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="xoa($('#giatri').html())">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function () {
        $('#clear').click(function () {
            clear();
        });
        $('#thay_doi').on('hidden.bs.modal', function () {
            clear();
        });

        $("#thuc_hien").select2({
            placeholder: "Thực hiện",
            allowClear: true
        });

        $("#vaitro").select2({
            placeholder: "Phân quyền người dùng",
            allowClear: true
        });

        $("#nhanviencaptren").select2({
            placeholder: "Tên Nhân viên",
            allowClear: true
        });

        $('.mytable').dataTable();
    });
    $('#btn_danh_sach_khach_hang').click(function () {
        layDanhSachKhachHang($('#IdUser_modal_thay_doi').html());
        $('#danh_sach_contact').modal('show');
        $('#thay_doi').css("display", "none");
    });

    $('#btn_dong').click(function () {
        $('#thay_doi').show();


    });
    function upanh(id) {
        var data = new FormData();
        var files = $("#image").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0])
        }
        $.ajax({
            url: "/User/GetFileRequest",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                d = new Date();
                var t = response.split('%');
                anh.src = t[0] + "?" + d.getTime();
                anh.name = t[1];
            },
            error: function () {
                alert('Không upload được ảnh!');
            }

        });
    }
    function thuchiensua(id_user) {
        var hodem = $('#hodem').val().trim();
        var ten = $('#ten').val().trim();

        var sdt01 = $('#sdt').val().trim();
        var sdt02 = $('#sdt2').val().trim();
        var email = $('#email').val().trim();
        var nhanviencaptren = $('#nhanviencaptren').val();
        var username = $('#username').val().trim();
        var password = $('#password').val().trim();
        var idusergroup = $('#vaitro').val();
        var image = $('#anh').attr('src').trim();
        var path = $('#anh').attr('name');

        $.ajax({
            url: "/User/Update",
            type: "POST",
            data: {
                id: id_user,
                hodem: hodem,
                ten: ten,
                username: username,
                password: password,
                image: image,
                nhanviencaptren: nhanviencaptren,
                sdt01: sdt01,
                sdt02: sdt02,
                email: email,
                path: path,
                isactive: true,
                idcompany: null,
                idloaiuser: null,
                idusergroup: idusergroup

            },
            error: function () {
                alert("Có lỗi");
            },
            success: function (data) {
                alert("Thành công!");
                $.ajax({
                    url: "/User/Index",
                    type: "Get",
                    success: function (view) {
                        $('#thay_doi').one('hidden.bs.modal', function () {
                            $('#body').html(view);
                        }).modal('hide');
                    }
                });
            }
        });
    }
    function clear() {
        $('#thongtinnguoidung').find('input').val('');
        $('#vaitro, #nhanviencaptren').val(null);

        $("#nhanviencaptren").select2({
            placeholder: "Tên Nhân viên",
            allowClear: true
        });
        $('#anh').attr('src', '');
        $("#vaitro").select2({
            placeholder: "Phân quyền người dùng",
            allowClear: true
        });
    }

    $('#them').click(function () {
        $('#table_thong_tin_nguoi_dung tr#ChamSoc').hide();

    })

    $('.btn_sua').click(function () {
        $('#table_thong_tin_nguoi_dung tr#ChamSoc').show();
    })

    function sua(id_user) {
        $('#thay_doi').attr('name', id_user);
        IdUser_modal_thay_doi.innerHTML = id_user;
        $.ajax({
            url: "/User/Select",
            type: "GET",
            data: { IdUser: id_user },
            error: function () {
                alert('Lấy thông tin thất bại!');
            },
            success: function (get) {
                var str = "<option></option>";
                for (i = 0; i < get.idus.length; i++)
                    str += "<option value='" + get.idus[i] + "'>" + get.nameus[i] + "</option>";
                $('#nhanviencaptren').html(str);
                clear();
                if (get != undefined && get.hodem != null) {
                    hodem.value = get.hodem.trim();
                    ten.value = get.ten.trim();
                    email.value = get.email;
                    sdt.value = get.sdt01;
                    sdt2.value = get.sdt02;
                    nhanviencaptren.value = get.nhanviencaptren;
                    vaitro.value = get.idusergroup;
                    username.value = get.username;
                    password.value = get.password;
                    anh.src = get.image;
                    $("#vaitro").select2({
                        placeholder: "Phân quyền người dùng",
                        allowClear: true
                    });

                    $("#nhanviencaptren").select2({
                        placeholder: "Tên Nhân viên",
                        allowClear: true
                    });
                }

                $('#thay_doi').modal('show');
            }
        });
    }

    function layDanhSachKhachHang(id_user) {
        $('#thay_doi').attr('name', id_user);

        $.ajax({
            url: "/User/SelectListContact",
            type: "GET",
            data: { IdUser: id_user },
            error: function () {
                alert('Lấy thông tin thất bại!');
            },
            success: function (get) {
                if (get != undefined && get != true) {
                    $("#table_danh_sach_khach_hang tr").remove();
                    var str = "";
                    str += "<tr>"
                          + " <td >"
                            + "    <label class=' padding'  style='line-height: 36px;'>Họ tên khách hàng</label>"
                           + " </td>"
                           + " <td >"
                            + "  <label class=' padding'  style='line-height: 36px;'>Thông tin</label>"
                           + " </td>"
                        + " </tr> ";
                    for (i = 0; i < get.idus_ct.length; i++) {
                        str += "<tr id='" + get.idus_ct[i] + "'><td>" + get.nameus_ct[i] + "</td><td><a>Chi tiết</a></td></tr>";
                    }
                    $('#table_danh_sach_khach_hang').append(str);
                }

            }
        });
    }

    function xoa(id_user) {
        $.ajax({
            url: "/Contact/Delete",
            type: "POST",
            data: { id_user: id_user },
            dataType: "json",
            error: function () {
                alert("Xóa thất bại!");
                $('#xoa').modal('hide');
            },
            success: function (data) {
                alert('Xóa thành công!');
                $('#' + id_user).remove();
                $('#xoa').modal('hide');
            }
        });
    }
    function hienxoa(id_user) {
        giatri.innerHTML = id_user;
        $('#xoa').modal('show');
    }

</script>
