@{
    ViewBag.Title = "Index";
    var cong_viec = ViewBag.v_cv as List<BKI_CRM2.Models.V_TASK>;
    var tu_dien = ViewBag.v_tu_dien as List<BKI_CRM2.Models.TuDien>;
    var tu_dien_status = ViewBag.v_tu_dien_status as List<BKI_CRM2.Models.TuDien>;
    var contact = ViewBag.v_contact as List<BKI_CRM2.Models.Contact>;
    var user = ViewBag.v_user as List<BKI_CRM2.Models.User>;
    
}
<style>
    .mau {
        width: 100px;
    }

    .marginleft {
        margin-left: 300px;
    }

    .width220px {
        width: 220px;
    }

    .height_input {
        height: 34px !important;
    }
    .width100px {
    width:100px;
    }
</style>
<div class="title">
    <h2>DANH MỤC CÔNG VIỆC</h2>
</div>

<div style="margin: 20px 0px 30px 30px;">
    <button type="button" class="btn btn-primary " aria-hidden="true" style="margin-left:300px;" onclick="sua(null);">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Thêm công việc
    </button>

     <select id="thuc_hien" style="margin-left:200px;">
        <option></option>
        <option value="xuat_excel">Xuất Excel</option>
        <option value="in">In</option>
    </select>
</div>
<div>
     
    <table class=" mytable">
                    <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-envelope " aria-hidden="true"></span> &nbsp;Độ quan trọng</th>
                            <th>Tên công việc</th>
                            <th>Làm việc với</th>
                            <th>Nội dung</th>
                            <th>Bắt đầu tại ngày</th>
                            <th>Dự kiến hoàn thành</th>
                            <th>Trạng thái hiện tại</th>
                            <th>Loại công việc</th>
                            <th>Nhân viên thực hiện</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in cong_viec)
                        {
                            <tr id="@item.Id">
                            <td>
                              @item.MucUuTien
                            </td>
                            <td>@item.TenCongViec</td>
                            <td>@(item.Ho+" "+ item.Ten)</td>
                            <td>@item.LamGi</td>
                            <td>@item.TaiNgay</td>
                            <td>@item.DuKienHoanThanh</td>
                            <td>@item.TrangThai</td>
                            <td></td>
                            <td>@item.UserName</td>
                            <td><button type="button" class="btn btn-default" onclick="sua('@item.Id')" ><span class="glyphicon glyphicon-pencil edit" aria-hidden="true"></span></button></td>
                            <td><button type="button" class="btn btn-default" onclick="hienxoa('@item.Id')" ><span class="glyphicon glyphicon-trash delete" aria-hidden="true" ></span></button></td>
                      </tr>
                        }

                   </tbody>
                </table>
      
</div>
<!-- Modal sửa -->
<div class="modal fade" id="thay_doi">
    <div class="modal-dialog modal-lg" id="CongViec">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title title">NỘI DUNG CÔNG VIỆC</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                     <table class="table table-condensed table-font-size " style="margin-top:20px;width:75%; ">
                         <tr>
                             <td>
                               <label style="line-height: 33px;"> Độ quan trọng</label>   
                             </td>

                             <td>
                                   <select id="doquantrong" >
                                </select>
                             </td>
                              <td>
                               <label style="line-height: 33px;"> Bắt đầu tại ngày</label>   
                             </td>
                             <td>
                                 <input type="date" class="form-control width220px" style="height:34px !important;" id="batdautaingay" />
                             </td>
                         </tr>
                          <tr>
                             <td>
                                  <label style="line-height: 33px;">Tên công việc</label>
                             </td>
                             <td>
                                 <input type="text" placeholder="Nhập Tên công việc" class="form-control width220px height_input " style="height:34px !important;" id="tencongviec">
                             </td>
                               <td>
                               <label style="line-height: 33px;"> Dự kiến hoàn thành</label>   
                             </td>
                             <td>
                                 <input type="date" class="form-control width220px" style="height:34px !important;" id="dukienhoanthanh"/>
                             </td>
                         </tr>
                          <tr>
                             <td>
                                  <label style="line-height: 33px;">Làm việc với</label>
                             </td>
                             <td>
                                  <select id="lamviecvoi" >
                                </select>
                             </td>
                               <td>
                                  <label style="line-height: 33px;">Trạng thái hiện tại</label>
                             </td>
                             <td>
                                  <select id="trangthaihientai" >
                                    <option></option>
                                </select>
                             </td>
                         </tr>
                          <tr>
                             <td rowspan="2">
                                  <label style="line-height: 33px;">Nội dung</label>
                             </td>
                             <td rowspan="2">
                                 <textarea rows="3" id="noidung" style="width:220px;font-size:14px;" placeholder="Nhập nội dung hợp đồng" class="form-control"></textarea>
                             </td>
                                <td>
                                  <label style="line-height: 33px;">Loại công việc</label>
                             </td>
                             <td>
                                 <input type="text" placeholder="Nhập Loại công việc" class="form-control width220px height_input " style="height:34px !important;" id="loaicongviec">
                             </td>
                         </tr>
                         <tr>
                                <td>
                                  <label style="line-height: 33px;">Nhân viên thực hiện</label>
                             </td>
                             <td>
                                  <select id="nhanvienthuchien" >
                                </select>
                             </td>
                         </tr>
                     </table>                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="clear">Xóa trắng</button>
                <button type="button" class="btn btn-primary" onclick="thuchiensua($('#thay_doi').attr('name'));">Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->   
  
<!--Modal xóa-->
<div class="modal fade" id="xoa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">XÁC NHẬN</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa dòng dữ liệu này không?</p>
                <div id="giatri" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="xoa($('#giatri').html())">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function () {
        $("#thuc_hien").select2({
            placeholder: "Thực hiện",
            allowClear: true
        });
        $('.mytable').dataTable();


    $("#doquantrong").select2({
        placeholder: " Độ quan trọng",
        allowClear: true
    });

    $("#lamviecvoi").select2({
        placeholder: "Tên Khách hàng",
        allowClear: true
    });

    $("#trangthaihientai").select2({
        placeholder: "Trạng thái hiện tại",
        allowClear: true
    });

    $("#nhanvienthuchien").select2({
        placeholder: "Tên Nhân viên",
        allowClear: true
    });

    $('#clear').click(function () {
        clear();
    });

    $('#thay_doi').on('hidden.bs.modal', function () {
        clear();
    });

 });

    function clear() {
        $('#CongViec').find('input').val('');
        $('#doquantrong').val('');
        $('#lamviecvoi').val('');
        $('#trangthaihientai').val('');
        $('#nhanvienthuchien').val('');
        $('#noidung').val('');

    }

    function hienxoa(id_cv) {
        giatri.innerHTML = id_cv;
        $('#xoa').modal('show');
    }

    function xoa(id_cv) {
        $.ajax({
            url: "/Task/Delete",
            type: "POST",
            data: { id_cv: id_cv },
            dataType: "json",
            error: function () {
                alert("Xóa thất bại!");
                $('#xoa').modal('hide');
            },
            success: function (data) {
                alert('Xóa thành công!');
                $('#' + id_cv).remove();
                $('#xoa').modal('hide');
            }
        });
    }

    function sua(id_cv) {
        $('#thay_doi').attr('name', id_cv);
        $.ajax({
            url: "/Task/Select",
            type: "GET",
            data: { IdTask: id_cv },
            error: function () {
                alert('Lấy thông tin thất bại!');
            },
            success: function (get) {
                var str = "";
                for (i = 0; i < get.iduser.length; i++)
                    str += "<option value='" + get.iduser[i] + "'>" + get.names[i] + "</option>";
                $('#nhanvienthuchien').html(str);

                var str1 = "";
                for (i = 0; i < get.idpriority.length; i++)
                    str1 += "<option value='" + get.idpriority[i] + "'>" + get.namepriority[i] + "</option>";
                $('#doquantrong').html(str1);

                var str2 = "";
                for (i = 0; i < get.idstatus.length; i++)
                    str2 += "<option value='" + get.idstatus[i] + "'>" + get.namestatus[i] + "</option>";
                $('#trangthaihientai').html(str2);

                var str3 = "";
                for (i = 0; i < get.idcontact.length; i++)
                    str3 += "<option value='" + get.idcontact[i] + "'>" + get.namecontact[i] + "</option>";
                $('#lamviecvoi').html(str3);


                if (get != undefined && get != true) {

                    batdautaingay.value = get.tai_ngay.trim();
                    tencongviec.value = get.ten_cv.trim();
                    doquantrong.value = get.do_quan_trong;
                    lamviecvoi.value =get.khach_hang;
                    nhanvienthuchien.value =get.nhan_vien;
                    trangthaihientai.value = get.trang_thai;
                    dukienhoanthanh.value = get.du_kien_hoan_thanh;
                    noidung.value = get.noi_dung;
                }
                $('#nhanvienthuchien').select2();
                $('#doquantrong').select2();
                $('#trangthaihientai').select2();
                $('#lamviecvoi').select2();
                $('#thay_doi').modal('show');

            }
        });
        $('#thay_doi').modal('show');
    }

    function thuchiensua(id_cv) {
        var taiNgay = $('#batdautaingay').val().trim();
        var duKienHoanThanh = $('#dukienhoanthanh').val().trim();
        var tenCongViec = $('#tencongviec').val().trim();
        var noiDung = $('#noidung').val().trim();
        var lamViecVoi = $('#lamviecvoi').val().trim();
        var nhanVienThucHien = $('#nhanvienthuchien').val().trim();
        var trangThaiHienTai = $('#trangthaihientai').val().trim();
        var doQuanTrong = $('#doquantrong').val().trim();
        $.ajax({
            url: "/Task/Update",
            type: "POST",
            data: {
                id: id_cv,
                taiNgay: taiNgay,
                duKienHoanThanh: duKienHoanThanh,
                tenCongViec: tenCongViec,
                noiDung: noiDung,
                lamViecVoi: lamViecVoi,
                nhanVienThucHien: nhanVienThucHien,
                trangThaiHienTai: trangThaiHienTai,
                doQuanTrong: doQuanTrong,
                idAccount: null,
                idAction:null
            },
            error: function () {
                alert("Có lỗi");
            },
            success: function (data) {
                alert("Thành công!");
                $.ajax({
                    url: "/Task/Index",
                    type: "Get",
                    success: function (view) {
                        $('#thay_doi').on('hidden.bs.modal', function () {
                            $('#body').html(view);
                        }).modal('hide');
                    }
                });
            }
        });
    }
</script>
